<div class="container-fluid">
  <div class="content-root" *ngIf="activeChatHub">
    <app-chat-hub-list-item-details-header-bar [activeChatHub]="activeChatHub" class="header"></app-chat-hub-list-item-details-header-bar>
    <app-chat-hub-list-item-details-message-list [socket]="socket" [activeUser]="activeUser" [activeChatHub]="activeChatHub"></app-chat-hub-list-item-details-message-list>
    <app-chat-hub-list-item-details-interaction-bar [socket]="socket" [activeUser]="activeUser" [activeChatHub]="activeChatHub" class="chat-bar"></app-chat-hub-list-item-details-interaction-bar>
  </div>
  <div class="no-content-root"  *ngIf="!activeChatHub">
    <p>Start chatting...</p>
  </div>
</div>