.container-fluid{
    background: #ffffff;
    height: 100%;
    padding: 0;
}

.content-root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.no-content-root{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}