  <div class="list-item">
    <div class="list-item-avatar"></div>
    <div class="list-item-info">
      <div class="list-item-info-header">
        <span class="hub-display-name">{{hub.name}}</span>
        <span class="hub-messages-count-badge" *ngIf="hub.unreadMessageCount !== 0">{{hub.unreadMessageCount}}</span>
      </div>
      <div class="list-item-info-message">
        <span *ngIf="!hub.isTypingMessage" class="message-text">{{hub.messages[hub.messages.length - 1]?.content}}</span>
        <span *ngIf="!hub.isTypingMessage" class="message-date">{{hub.messages[hub.messages.length - 1]?.dateRecieved | date: 'shortTime'}}</span>
        <span *ngIf="hub.isTypingMessage" class="message-text" style="color: green">typing...</span>
      </div>
    </div>
  </div>