.no-padding{
    padding: 0;
}

.content-root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-root{
    display: flex;
    flex-direction: row;
    flex: none;
    height: 48px;
    padding: 0 16px;
    align-items: center;
    justify-content: flex-end;
    background: white;
    color: black;
    box-shadow: 0px 2px 10px black;
}

.header-content{
    display: flex;
    flex-direction: row;
    flex: none;
}

.messages-root{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.action-root{
    display: flex;
    flex-direction: row;
    flex: none;
    justify-content: stretch;
    align-self: stretch;
    justify-self: stretch;
}

form{
    width: 100%;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-bottom: 0;
}

.text-field{
    border-radius: 100px;
    margin-right: 8px;
}

.avatar{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: antiquewhite;
    background-image: url(../../assets/fotonoticia_20120217124725_644.jpg);
    background-size: cover;
}

.messages-list{
    list-style: none;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.no-content-root{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.message-list-item-content{
    padding: 8px;
    margin-bottom: 8px;
    color: black;
    background: wheat;
    border-radius: 10px;
}