<div class="container-fluid">
  <div class="content-root" *ngIf="activeChatHub">
    <header class="header-root">
      <div class="header-content">
        <div class="avatar"></div>
        <strong>{{activeChatHub.name}}</strong>
      </div>
    </header>
    <div class="messages-root">
      <ul class="messages-list">
        <app-message-item [message]="message" *ngFor="let message of activeChatHub.messages; index as i" [ngStyle]="{'align-self': message.fromUserId === activeUser.id ? 'flex-start' : 'flex-end'}"></app-message-item>
      </ul>
    </div>
    <div class="action-root">
      <form [formGroup]="msgFormGroup" (ngSubmit)="sendMessage()">
        <div class="form-group">
          <input type="text" placeholder="type here..." class="form-control text-field" formControlName="msgField">
          <button type="submit" class="btn">></button>
        </div>
      </form>
    </div>
  </div>
  <div class="no-content-root"  *ngIf="!activeChatHub">
    <p>Start chatting...</p>
  </div>
</div>