.message-root{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 8px;
    color: black;
    background: wheat;
    border-radius: 10px;
}

.message-main-body{
    flex: 1;
    font: inherit;
    font-size: 100%;
}

.message-extra-info{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    font-size: 70%;
    align-items: center;
    justify-content: stretch;
}

.msg-sck{
    flex: none;
}

.text-muted{
    flex: 1;
    align-self: flex-end;
    margin-left: 1rem;
}

svg{
    width: 16px !important;
    height: 16px !important;
}

svg path{
    stroke: hotpink;
    fill: hotpink;
}
