.container-fluid{
    height: 100%;
    background-color: #fff;
    padding: 0;
    border-right: 1px solid whitesmoke;
}

.list-messages{
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.list-item-container{
    display: block;
    cursor: pointer;
}

.list-item-container:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.list-item-active{
    background-color: rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    flex-direction: row;
    flex: none;
    height: 48px;
    padding: 0 8px;
    align-items: center;
    justify-content: flex-start;
    background: whitesmoke;
    color: black;
}

.header-content{
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-items: center;
}

.avatar-small{
    width: 32px;
    height: 32px;
    margin-right: 4px; 
    border-radius: 50%;
    background-color: lightgray;
    background-image: url(../../assets/318090_v9_ba.jpg);
    background-size: cover;
}