<div class="container-fluid" style="overflow:auto">
  <div class="header" style="color:hotpink">{{activeUser.firstName}} {{activeUser.lastName}}</div>
  <div class="chats-container">
    <ul class="list-messages">
      <li class="list-item-container" *ngFor="let user of activeUser.friendList; index as i" (click)="onMessageListItemChanged($event, user)">
        <div class="list-item">
          <div class="list-item-avatar"></div>
          <div class="list-item-info">
            <div class="list-item-info-header">
              <strong class="message-user-name">{{user.firstName}} {{user.lastName}}</strong>
              <span class="message-unread-count badge badge-pill">10</span>
            </div>
            <div class="list-item-info-message">
              <small class="message-text">Foo bar foo bar</small>
              <small class="message-date">7:43 PM</small>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>