:host{
    overflow: auto;
    flex: 1;
}

.container-fluid{
    padding: 0;
}

.messages-list{
    list-style: none;
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}